{{!< layouts/default}}

<div id="header">
    <div id="icon" class="sb-toggle-left navbar-left">
        <div class="navicon-line"></div>
        <div class="navicon-line"></div>
        <div class="navicon-line"></div></div>

        <p id="logo_header">
            <a id="video" href="#!/" title="view videos" class="no">
                <img src="https://erpmticspy-dev.appspot.com/images/logo_artpc.png" alt="I don know"></a>
        </p>
        
        <ul id="nav">
            <li><a href="https://artpcweb.appspot.com" title="x">Home</a></li>
        </ul>
    </div>

    <h1>Test yo generator-express-train </h1>

    <div id="sidebar" class="sb-slidebar sb-left">
        <ul class="sb-menu">
            <li><img id="logo_sidebar" src="https://erpmticspy-dev.appspot.com/images/logo_artpc.png" alt="logo"></li>
            <li class="sb-toggle-left"><a href="#">test</a></li></ul></div><div id="container" class="col">
    </div>

    <div id="loader" class="status fadeInDown animated hidden">
        <div id="logo" class="logo"></div>
        <div id="logo-text"></div>
        <div id="time-block" class="time-block">
            <div id="time">
                <p id="date" class="title"></p>
            </div>
        </div>
    </div>

<div id="log">
</div>


<script type="text/javascript" src="/js/slidebars.min.js"></script>
<!-- APP CODE -->
<script type="text/javascript" src="/js/min/socket_test.min.js"></script>
<!--<script type="text/javascript" src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>-->

<!--http://cnpmjs.org/package/express-train.io-->

sas

prubea de wathc 

