#my test code not clean
client.html
io-client.py
server.js
test.py
tmp.js

bin
build/*
!build/build.xml
logs_dev
doc
dest


#npm
node_modules
#bower
bower_components


#
sockets
socketio

#logs
*.log
