#my test code not clean
client.html
io-client.py
server2.js
test.py
tmp.js
client_socket.py

bin
build/*
!build/build.xml
logs_dev
doc
dest

# Python
*~
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO

#npm
node_modules
#bower
bower_components


#
sockets
socketio

#logs
*.log

#virtualenvs
virtualenvs
virtualenvs/*

# Django
*.log
*.pot
*.pyc