<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<!-- Head -->
<head>
<!--
EEEEEEEEE  EEEE    EEEEE  EEEEEEEE  EEEEEEEEE    EEE    EEEEEEEE    EEEEEEEE
EEE        E   E   E   E  E   E  E     EE        EEE    E           E
EEEEEEEE   EEEE    EEEEE  E   E  E     EE        EEE    E           EEEEEEEE
EEE        E   E   E      E   E  E     EE        EEE    E                  E
EEEEEEEE   E    E  E      E   E  E     EE        EEE    EEEEEEEE    EEEEEEEE 

Use express train yo generator with:

npm install -g yo generator-express-train
yo express-train
node .

1. Plantilla adaptada desde Twitter bootstrap
2. La Aplicación Web desarrollado por Ing. Armando Ibarra:

    +XHTML 1.0 Strict
    +CSS v 2.1
    +Jquery (Ajax)
-->
  <head>
    <title>{{title}}</title>
    {{> css}}
    {{> scripts}}
</head>
<body>
	{{{body}}}
</body>
</html>
