#log 
{
	display: inline-block;
	padding: 0 50px;
	max-height: 300px;
	overflow-y: scroll;
}
 
p {
	margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  font: 100 14px/1.5 "Lucida Grande", Arial, sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
p.index {
  margin-left: 2em;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sosa";
  src: url("../font/sosa-regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Weather';
  src: url("../font/weather.ttf") format('truetype');
}
@font-face {
  font-family: 'Open-Light';
  src: url("../font/OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open-Reg';
  src: url("../font/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open-Bold';
  src: url("../font/OpenSans-Bold.ttf") format('truetype');
}
.weather .icon {
  font-family: "Weather";
}
.flex-direction-nav * {
  height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
}
a {
  color: #dc00a0;
  text-decoration: none;
}
#testing {
  float: left;
  width: 100px;
  border-right: 1px solid #000;
  height: 300px;
  padding: 10px;
  overflow: scroll-y;
}
#side {
  float: left;
  width: 300px;
  height: 250px;
  overflow: scroll-y;
  padding: 10px;
}
input#data {
  width: 200px;
}

#header {
  height: 3em;
  margin-top: 0;
  background: url("../images/header-bg.png") repeat-x;
}
#header ul {
  list-style: none;
}
#header ul li {
  display: block;
}

#icon {
  float: left;
  width: 24px;
  height: 18px;
  background: black;
}
#logo_header {
  float: left;
}
.sb-menu #logo_sidebar {
  width: 100px;
  height: 50px;
}
#sidebar {
  border-right: 2px solid #5cbf94;
}

.navicon-line {
width: 24px;
height: 4px;
border-radius: 1px;
margin-bottom: 3px;
background-color: #fff;
}